# База данных SQLite
*.db
*.sqlite
*.sqlite3

# Bundler
.bundle/
vendor/bundle/

# Переменные окружения
.env
.env.*

# Логи
*.log
log/

# Временные файлы
tmp/
*.tmp

# Системные файлы
.DS_Store
Thumbs.db
